<div id="scroll_area">
	<section id="search_area">
		<div class="logo1">EatHub</div>
		<div class="help"><button id="help">help</button></div>
		<div class="description">飲食店総合検索サイト</div>
		<div class="clear"></div>
		<input type="text" id="key_word" placeholder="検索条件">
		<button type="button" id="search_button">検索</button><br>
		<div id="counts"></div>
		<a href="#" id="more">more</a>
		<a href="#" id="geolocation">現在位置から検索する</a>
	</section>
	<section>
		<div id="area">
		</div>
	<section>
		<div id="next_start"></div>
	</section>
	<section>
		<div id="main" role="main">
			<ul id="tiles">
			</ul>
		</div>
		<div id="loading">
			<%= image_tag("loading.gif") %>
		</div>
		<div id="overlay"></div>
	</section>
</div>

<script type="text/javascript">
	$("#search_button").click(function() {
		searchByFreeWordAndClear();
	});

	$("#geolocation").click(function(){
		searchByLocationAndClear();
	});

	$(document).keypress(function(e){
		if (e.which == 13) {
			searchByFreeWordAndClear();
		}
	});

	$("#more").click(function() {

		if(getKeyword()) {
			// by keyword searching
			searchNextFreeWord();
		} else {
			// by geo searching
			searchByNextLocation();
		}
		return false;
	});

</script>	